@import "tailwindcss";

/*@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
main{
  margin: 0;
  padding: 0;
}
.footerbg {
  background-position: center;
  background-repeat: no-repeat;
}

/* On mobile, scale the image up so it gets clipped on the sides */
@media (max-width: 767px) {
  .footerbg {
    background-size: 150%; /* Adjust this value as needed */
  }
}

/* On medium screens and above, use cover */
@media (min-width: 768px) {
  .footerbg {
    background-size: cover;
  }
}
