@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
}
html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; /* Default to medium thickness */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Thicker for headings */
}

strong, b {
  font-weight: 900; /* Extra bold for emphasis */
}
.light-text {
  font-weight: 300; /* Lighter than default */
}
/*@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
main{
  margin: 0;
  padding: 0;
}
.footerbg {
  background-position: center;
  background-repeat: no-repeat;
}

/* On mobile, scale the image up so it gets clipped on the sides */
@media (max-width: 767px) {
  .footerbg {
    background-size: 150%; /* Adjust this value as needed */
  }
}

/* On medium screens and above, use cover */
@media (min-width: 768px) {
  .footerbg {
    background-size: cover;
  }
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}
